<h1>My incidents</h1>

<md-content routerLink="/incidents" class="container">
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Drafts: {{drafts}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Cancelled: {{cancelled}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Executing: {{executing}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Completed: {{completed}}</label>
        </div>
    </div>
</md-content>
