<nav>
    <button (click)=setBasicInfo()>Basic information   </button>    
    <button (click)=setHistory()>History of state changes   </button>    
    <button (click)=setMultimedia()>Multimedia attachments    </button>    
    <button (click)=setEquipment()>Equipment </button>   
    <button (click)=setChecklist()>Checklist   </button>   
</nav>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div [hidden]="(formOption != 'BasicInfo')"> 
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="planned">Planned</label>
                <input type="checkbox" id="planned" formControlName="planned">
            </div>
        </div>   

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="status">Status: Draft</label>
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="workplan">Workplan: Mocked</label>
            </div>
        </div>

                
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="crew">Crew: Mocked</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="created"></label>
                <div >
                    Created by: {{thisUser}} . 
                </div>                                
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="phoneNumber">Phone number:</label>
                <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="details">Details</label>
                <input type="text" id="details" class="form-control" formControlName="details">
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="notes">Notes</label>
                <input type="text" id="notes" class="form-control" formControlName="notes">
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="datetime">Date:</label>
                <div >
                    {{currentDate}} . 
                </div>                                
            </div>
        </div>

        <div class="col-1">
            <button  class="btn btn-success" type="submit">Submit</button>
        </div>
        
    </div>
    <div [hidden]="(formOption != 'Checklist')">     
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="workOperationsCompleted">All work operations completed?</label>
                <input type="checkbox" id="workOperationsCompleted" formControlName="workOperationsCompleted">
            </div>
        </div>   
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="tagsRemoved">All tags removed?</label>
                <input type="checkbox" id="tagsRemoved" formControlName="tagsRemoved">
            </div>
        </div>   
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="groundingRemoved">Grounding removed?</label>
                <input type="checkbox" id="groundingRemoved" formControlName="groundingRemoved">
            </div>
        </div>   
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="ready">Ready for service?</label>
                <input type="checkbox" id="ready" formControlName="ready">
            </div>
        </div>   
    </div>


</form>
<div [hidden]="(formOption != 'Equipment')">  
    <div>
        <button type="button" (click)="deviceDialog()">New device</button> 
    </div>
    <div class="row" *ngIf = "this.profileForm.value" >
        <div class="col-sm-6 form-group">
            <div class="mat-elevation-z8">
                <table class="table-hover" mat-table  [dataSource]="devicesSource" matSort>
            
                    <ng-container matColumnDef="priority" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority: </th>
                        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="id" sticky>
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id: </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="name" sticky>
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name: </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="address" sticky>
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address: </th>
                      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="deviceColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: deviceColumns;"></tr>
                    </table>
            
            </div>
        </div>
    </div> 
</div>
<div [hidden]="(formOption != 'Multimedia')">    
    <div>
    <mat-card>
        <input type='file' (change)="onSelectFile($event)">
        <mat-progress-bar *ngIf="uploading" mode="indeterminate" class="example-30-width"></mat-progress-bar>
      </mat-card>
      <img mat-card-image *ngFor="let image of images.keys()" (click)="deleteImage(image)" src="{{image}}" alt="Image not found.">    
    </div>
</div>
<div [hidden]="(formOption != 'History')">   
    <div class="row" *ngIf = "this.profileForm.value" >
        <div class="col-sm-6 form-group">
            <div class="mat-elevation-z8">
                <table class="table-hover" mat-table  [dataSource]="historyChangesSource" matSort>
            
                <ng-container matColumnDef="user" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User: </th>
                    <td mat-cell *matCellDef="let element"> {{element.name + ' ' + element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="datetime" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time of change: </th>
                    <td mat-cell *matCellDef="let element"> {{element.datetime.toLocaleString()}} </td>
                </ng-container>

                <ng-container matColumnDef="status" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status set to: </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="historyColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: historyColumns;"></tr>
                </table>
            </div>

            <button (click)=setIssued()>Issue document   </button> 
            <button (click)=setCancelled()>Cancell document   </button> 
            <button (click)=setExecuting()>Set executing </button> 
        </div>
    </div> 
</div>
