
<!--
id: string;
type: IncidentType;
priority: number;
confirmed: boolean;
status: IncidentStatus;
ETA: Date;    
ATA : Date; //actual time of arrival
outageTime: Date;
ETR : Date; //estimated time to restore
affectedCustomers: number;
calls: number;
voltage: number; //kV
scheduledTime: Date;
selfAssign: SelfAssign; 
-->

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="id">ID</label>
            <input type="text" id="id" class="form-control" formControlName="id">
            <div *ngIf="profileForm.controls.id.invalid">
                Please enter valid id
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-6 form-group">
            <label for="type">type</label>
            <select class="form-control" formControlName="type">
                <option *ngFor="let option of IncidentType" [value]="option">{{option}}</option>
            </select>
        </div>
    </div>        
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="priority">Priority</label>
            <input type="number" id="priority" class="form-control" formControlName="priority">
            <div *ngIf="profileForm.controls.prioritet.invalid">
                Please enter an integer
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="confirmed">Confirmed</label>
            <input type="checkbox" id="confirmed" formControlName="confirmed">
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-6 form-group">
            <label for="status">Status</label>
            <select class="form-control" formControlName="status">
                <option *ngFor="let option of IncidentStatus" [value]="option">{{option}}</option>
            </select>
        </div>
    </div>           
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="ETA">ETA</label>
            <input type="date" id="ETA" class="form-control" formControlName="ETA">                            
            <input type="time" id="ETATime" class="form-control" formControlName="ETATime">                
            <div *ngIf="profileForm.controls.etaDate.invalid">
                Please enter eta
            </div>
            <div *ngIf="profileForm.controls.etaTime.invalid">
                Please enter eta
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="ATA">ATA</label>
            <input type="date" id="ATA" class="form-control" formControlName="ATA">                            
            <input type="time" id="ATATime" class="form-control" formControlName="ATATime">                
            <div *ngIf="profileForm.controls.ataDate.invalid">
                Please enter ata
            </div>
            <div *ngIf="profileForm.controls.ataTime.invalid">
                Please enter ata
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="ETR">ETR</label>
            <input type="date" id="ETR" class="form-control" formControlName="ETR">                            
            <input type="time" id="ETRTime" class="form-control" formControlName="ETRTime">                
            <div *ngIf="profileForm.controls.etrDate.invalid">
                Please enter etr
            </div>
            <div *ngIf="profileForm.controls.etrTime.invalid">
                Please enter etr
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="affectedCustomers">Affected Customers</label>
            <input type="number" id="affectedCustomers" class="form-control" formControlName="affectedCustomers">
            <div *ngIf="profileForm.controls.afektovaniPotrosaci.invalid">
                Please enter an integer
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="calls">Calls</label>
            <input type="number" id="calls" class="form-control" formControlName="calls">
            <div *ngIf="profileForm.controls.brojPoziva.invalid">
                Please enter brojPoziva
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="voltage">Voltage [kV]</label>
            <input type="number" id="voltage" class="form-control" formControlName="voltage">
            <div *ngIf="profileForm.controls.nivoNapona.invalid">
                Please enter an integer
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="scheduledTime">Scheduled Time</label>
            <input type="date" id="scheduledTime" class="form-control" formControlName="scheduledTime">                            
            <input type="time" id="scheduledTimeTime" class="form-control" formControlName="scheduledTimeTime">                
            <div *ngIf="profileForm.controls.pvrDate.invalid">
                Please enter scheduledTime
            </div>
            <div *ngIf="profileForm.controls.pvrTime.invalid">
                Please enter scheduledTime
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="selfAssign">Self Assign</label>
            <input type="checkbox" id="selfAssign" formControlName="selfAssign">
        </div>
    </div>        

    <!--
    <div class="row">
        <div class="col-1">
            <button class="btn btn-primary" (click)="onClear()" type="button">Clear</button>
        </div>
        <div class="col-1">
            <button [disabled]="!osnovneInformacijeForm.valid" class="btn btn-success" type="submit">Add</button>
        </div>
    </div>
    -->
</form>