<nav>
    <button (click)=setBasicInfo()>Basic information   </button>    
    <button (click)=setDevices()>Devices   </button>    
    <button (click)=setResolution()>Resolution   </button>    
    <button (click)=setCalls()>Calls   </button>    
    <button (click)=setCrew()>Crew   </button>    
    <button (click)=setMultimedia()>Multimedia attachments</button>    
</nav>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div [hidden]="(formOption != 'BasicInfo')">    
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="id">ID</label>
                <input type="text" id="id" class="form-control" formControlName="id">
                <div *ngIf="profileForm.controls.id.invalid">
                    Please enter valid id
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-6 form-group">
                <label for="type">type</label>
                <select class="form-control" formControlName="type">
                    <option *ngFor="let option of IncidentType" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="priority">Priority</label>
                <input type="number" id="priority" class="form-control" formControlName="priority">
                <div *ngIf="profileForm.controls.priority.invalid">
                    Please enter an integer
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="confirmed">Confirmed</label>
                <input type="checkbox" id="confirmed" formControlName="confirmed">
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-6 form-group">
                <label for="status">Status</label>
                <select class="form-control" formControlName="status">
                    <option *ngFor="let option of IncidentStatus" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>           
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="ETA">ETA</label>
                <input type="date" id="ETA" class="form-control" formControlName="ETA">                            
                <input type="time" id="ETATime" class="form-control" formControlName="ETATime">                
                <div *ngIf="profileForm.controls.ETA.invalid">
                    Please enter eta
                </div>
                <div *ngIf="profileForm.controls.ETATime.invalid">
                    Please enter eta
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="ATA">ATA</label>
                <input type="date" id="ATA" class="form-control" formControlName="ATA">                            
                <input type="time" id="ATATime" class="form-control" formControlName="ATATime">                
                <div *ngIf="profileForm.controls.ATA.invalid">
                    Please enter ata
                </div>
                <div *ngIf="profileForm.controls.ATATime.invalid">
                    Please enter ata
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="ETR">ETR</label>
                <input type="date" id="ETR" class="form-control" formControlName="ETR">                            
                <input type="time" id="ETRTime" class="form-control" formControlName="ETRTime">                
                <div *ngIf="profileForm.controls.ETR.invalid">
                    Please enter etr
                </div>
                <div *ngIf="profileForm.controls.ETRTime.invalid">
                    Please enter etr
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="affectedCustomers">Affected Customers</label>
                <input type="number" id="affectedCustomers" class="form-control" formControlName="affectedCustomers">
                <div *ngIf="profileForm.controls.affectedCustomers.invalid">
                    Please enter an integer
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="calls">Calls</label>
                <input type="number" id="calls" class="form-control" formControlName="calls">
                <div *ngIf="profileForm.controls.calls.invalid">
                    Please enter brojPoziva
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="voltage">Voltage [kV]</label>
                <input type="number" id="voltage" class="form-control" formControlName="voltage">
                <div *ngIf="profileForm.controls.voltage.invalid">
                    Please enter an integer
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="scheduledTime">Scheduled Time</label>
                <input type="date" id="scheduledTime" class="form-control" formControlName="scheduledTime">                            
                <input type="time" id="scheduledTimeTime" class="form-control" formControlName="scheduledTimeTime">                
                <div *ngIf="profileForm.controls.scheduledTime.invalid">
                    Please enter scheduledTime
                </div>
                <div *ngIf="profileForm.controls.scheduledTimeTime.invalid">
                    Please enter scheduledTime
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="selfAssign">Self Assign</label>
                <input type="checkbox" id="selfAssign" formControlName="selfAssign">
            </div>
        </div>        
</div>
    <div [hidden]="(formOption != 'Devices')">  
        <div>
            <button type="button" (click)="deviceDialog()">New device</button> 
        </div>
        <div class="row" *ngIf = "this.profileForm.value" >
            <div class="col-sm-6 form-group">
                <div class="mat-elevation-z8">
                    <table class="table-hover" mat-table  [dataSource]="devicesSource" matSort>
                
                    <ng-container matColumnDef="priority" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority: </th>
                        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id: </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                      </ng-container>
              
                      <ng-container matColumnDef="name" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name: </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="address" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address: </th>
                        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                      </ng-container>
              

                    <tr mat-header-row *matHeaderRowDef="deviceColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: deviceColumns;"></tr>
                    </table>
                </div>
            </div>
        </div> 
    </div>
    <div [hidden]="(formOption != 'Resolution')">
        <div class="row" >
            <div class="col-sm-6 form-group">
                <label for="cause">Cause</label>
                <select class="form-control" formControlName="cause" (change)="onChange($event)">
                    <option *ngFor="let option of Cause" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>      
        <div class="row" *ngIf = "this.profileForm.value" >
            <div class="col-sm-6 form-group">
                <label for="subcause">Subcause</label>
                <select class="form-control" formControlName="subcause">
                    <option *ngFor="let option of Subcause.get(causeSelected)" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>
        <div class="row" *ngIf = "this.profileForm.value" >
            <div class="col-sm-6 form-group">
                <label for="constructionType">Construction Type</label>
                <select class="form-control" formControlName="constructionType">
                    <option *ngFor="let option of ConstructionType" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>  
        <div class="row" *ngIf = "this.profileForm.value" >
            <div class="col-sm-6 form-group">
                <label for="material">Material</label>
                <select class="form-control" formControlName="material">
                    <option *ngFor="let option of Material" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>  
    </div>
    <div [hidden]="(formOption != 'Calls')">    
        <nav>
            <button (click)=setCreateCall()>Create a new call</button>   
        </nav>
        <div class="row" *ngIf = "this.profileForm.value" >
            <div class="col-sm-6 form-group">
                <div class="mat-elevation-z8">
                    <table class="table-hover" mat-table  [dataSource]="callsSource" matSort>
                    <ng-container matColumnDef="reason" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason: </th>
                        <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
                    </ng-container>

                    <ng-container matColumnDef="malfunction" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Malfuction: </th>
                        <td mat-cell *matCellDef="let element"> {{element.malfunction.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="comment" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment: </th>
                        <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="callsColumn"></tr>
                    <tr mat-row *matRowDef="let row; columns: callsColumn;"></tr>
                    </table>
                </div>
            </div>
        </div> 
    </div>
    <div [hidden]="(formOption != 'Crew')"> 
        Crew placeholder (2.6.9)   
    </div>
    <div [hidden]="(formOption != 'Multimedia')">    
        <img [src]="imageFile" alt="User image" height="200"> <br />
        <mat-progress-bar *ngIf="fileUploading" mode="indeterminate" class="example-30-width"></mat-progress-bar>
        <input type='file' (change)="uploadFile()">      
    </div>
    <div class="row" hidden="formOption=='CreateCall'">
        <div class="col-1">
            <button  class="btn btn-success" type="submit">Submit</button>
        </div>
    </div>
</form>
<div [hidden]="(formOption != 'CreateCall')">    
    <form [formGroup]="callForm" (ngSubmit)="onCreateCall()">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="reason">Reason:</label>
                <select class="form-control" formControlName="reason">
                    <option *ngFor="let option of ReasonType" [value]="option">{{option}}</option>
                </select>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-6 form-group">
                <label for="comment">Comment</label>
                <input type="text" id="comment" class="form-control" formControlName="comment">
                <div *ngIf="callForm.controls.comment.invalid">
                    Please enter valid comment
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="hazzard">Hazzard</label>
                <input type="text" id="hazzard" class="form-control" formControlName="hazzard">
                <div *ngIf="callForm.controls.hazzard.invalid">
                    Please enter valid hazzard
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="hazzardPriority">Priority</label>
                <input type="text" id="hazzardPriority" class="form-control" formControlName="hazzardPriority">
                <div *ngIf="callForm.controls.hazzardPriority.invalid">
                    Please enter valid hazzard priority
                </div>
            </div>
        </div>
        <br><br><br>
        Customer info
        <div [hidden]="(customer == null)">
            <label [hidden]="(customer == null)" for="customer.id">Id: {{customer?.id}}</label>
            <br>
            <label [hidden]="(customer == null)" for="customer.name">Name: {{customer?.name}}</label>
            <br>
            <label [hidden]="(customer == null)" for="customer.lastName">Last name: {{customer?.lastName}}</label>
            <br>
            <label [hidden]="(customer == null)" for="customer.priority">Customer priority: {{customer?.priority}}</label>
            <br>
            <label [hidden]="(customer == null)" for="customer.street">Location: {{customer?.street}}</label>
            <label [hidden]="(customer == null)" for="customer.city">, {{customer?.city}}</label>
            <label [hidden]="(customer == null)" for="customer.postcard">, {{customer?.postcard}}</label>
            <br>
        </div>
        <br>
        <br><br>
        <button type="submit">Create new call</button>  
    </form>
    <button (click)=selectCustomer()>Select a customer</button> 
</div>