<h1>My safety docs</h1>

<md-content routerLink="/securityDocuments" class="container">
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Drafts: {{drafts}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Cancelled: {{cancelled}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Executing: {{executing}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Issued: {{issued}}</label>
        </div>
    </div>
</md-content>
